<div xmlns:th="http://www.thymeleaf.org" th:fragment="table_script" th:remove="tag">
    <!-- DataTables -->
    <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}" src="../../static/plugins/datatables/jquery.dataTables.min.js"></script>
    <script th:src="@{/plugins/datatables/dataTables.bootstrap.min.js}" src="../../static/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script th:src="@{/plugins/spin/jquery.spin.merge.js}" src="../../static/plugins/spin/jquery.spin.merge.js"></script>
    <script th:src="@{/js/constant.js}" src="../../static/js/constant.js"></script>
</div>